@charset "utf-8";

html,
body,
div,
h1,h2,h3,
ul,li,
dl,dt,dd,
p,
img,
input {
	margin: 0;
	padding: 0;
}

.clearfix:after {
	display: block;
	height: 0;
	content: '';
	clear: both;
}

body {
	font-size: 12px;
	font-family: "microsoft yahei";
	color: #333;
}

a {
	text-decoration: none;
	color: #666;
}

li {
	list-style: none;
}
